<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" /> 
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style type="text/css"> 
        #allmap {width: 100%;height: 100%;overflow: hidden;} 
    </style> 
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=7216b16c8441679ef2948d2b9a5731cc"></script> 
</head> 
<body class="config"> 

    
    <div class="global">
	
	<div class="formAera">

		<form method="post" action="configConfirm">
			<div class="formTitle">单击地图电子围栏顶点坐标将出现在此</div>
			<div class="input_more" id="moreInput"></div>
			<div class="submit"><input type="submit" class="submit" value="确定"></div>
		</form>
	</div>
	<div class="configRight">
		<div id="allmap" style="width: 600px;height: 500px;"></div> 
    <div> 
       <label>经度</label> 
       <span id="jing_du"></span> 
       <label>纬度</label> 
       <span id="wei_du"></span> 
    </div> 
	</div>
</div>
</body> 
<script type="text/javascript"> 

    // 百度地图API功能 
    var map = new BMap.Map("allmap");             
    
    var point = new BMap.Point(120.386383,30.319781); 
    map.centerAndZoom(point, 15); 
    map.setDefaultCursor("crosshair");
    //单击获取点击的经纬度 
    map.addEventListener("click",function(e){ 

        var jing_du_value = e.point.lng ; 

        var wei_du_value =  e.point.lat; 

        //alert(e.point.lng + "," + e.point.lat); 

        var jing_du = document.getElementById("jing_du"); 

        var wei_du = document.getElementById("wei_du"); 

        jing_du.innerHTML= jing_du_value; 

        wei_du.innerHTML= wei_du_value; 

        moreInput(jing_du_value,wei_du_value);

    }); 
	map.enableScrollWheelZoom(true); 
	var label=null; 
    function showInfo(e){
        map.removeOverlay(label);
        var opts = {
      position : e.point,    // 指定文本标注所在的地理位置
      offset   : new BMap.Size(30, -30)    //设置文本偏移量
    }
        label = new BMap.Label(e.point.lng + ", " + e.point.lat, opts);  // 创建文本标注对象
        label.setStyle({
             color : "red",
             fontSize : "12px",
             height : "20px",
             lineHeight : "20px",
             fontFamily:"微软雅黑"
         });
    map.addOverlay(label); 
    }
    map.addEventListener("mousemove", showInfo);


</script> 
</html>

	<script type="text/javascript">
		var inputNum = 1;
		function moreInput(longitude,latitude)
		{

		
			var moreInput = document.getElementById("moreInput");
			var oldHTML = document.getElementById("moreInput").innerHTML;
			
			
			var num = inputNum < 10?'0'+String(inputNum):String(inputNum);
			var tempHTML = '<div class="inputBlock"><div class="lable">坐标 ';
			tempHTML += num;
			tempHTML += '：</div><div class="inputX"><input type="text" class="location"  required="required" name="location';
			tempHTML += num;
			tempHTML += 'X" value="';
			tempHTML += String(longitude);
			tempHTML += '""></div><div class="inputY"><input type="text" class="location"  required="required" name="location';
			tempHTML += num;
			tempHTML += 'Y" value="';
			tempHTML += String(latitude);
			tempHTML += '"></div></div>';
			inputNum ++;
			document.getElementById("moreInput").innerHTML += tempHTML;
			
		}
	</script>
	