<!DOCTYPE html>
<html>
<head>
	<title><%= title %></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" /> 
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="/css/font-awesome.min.css" rel="stylesheet">
    <link href="/css/site.min.css" rel="stylesheet">
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <style type="text/css"> 
        #allmap {width: 100%;height: 100%;overflow: hidden;}
        h2{
            color: #563d7c;
        } 
    </style> 
    <script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=7216b16c8441679ef2948d2b9a5731cc"></script> 
   
</head> 
<body class="config">
    <div class="myhead"><img src="../images/ballonpic.jpg"style="  width: 25px;" />
        景区游客监控系统</div>
     <img src="../images/maphead.png" style="border: 0; height: 70px; width: 1100px; margin-top: 20px; box-shadow: rgba(72, 93, 84, 0.66) 3px -3px 4px;" />
    
    <div class="global">
	   <div class="fence">
        	<div class="formAera">

        		<form method="post" action="configConfirm">
        			<div class="formTitle">请选中地图电子围栏顶点坐标</div>
        			<div class="input_more" id="moreInput"></div>
                    <div class="remove" onclick="removeLocation()" title="删除最后一组坐标"><span class="bootFont" >−</span></div>
        			<div class="submit"><input type="submit" class="submit" value="确定"></div>
        		</form>
        	</div>
        	<div class="configRight">
        		<div id="allmap" style="width: 100%;height: 600px;"></div> 
            
        	</div>
        </div>
</div>
<% include footer %>
</body>
<script type="text/javascript">

    function coverOldInput(num,longitude,latitude)
    {
        var strX = "";
        var strY = "";
        var strNum = num < 9?'0'+String(num+1):String(num+1);
        var tempHTML = '<div class="inputBlock"><div class="lable">坐标 ';
        tempHTML += strNum;
        tempHTML += '：</div><div class="inputX"><input type="text" class="location"  required="required" onblur="textChanged()" name="';
        strX = 'location';
        strX += strNum;
        strX += 'X';
        tempHTML += strX;
        tempHTML += '" id="';
        tempHTML += strX;
        tempHTML += '" value="';
        tempHTML += String(longitude);
        tempHTML += '""></div><div class="inputY"><input type="text" class="location"  required="required" onblur="textChanged()" name="';
        strY = 'location';
        strY += strNum;
        strY += 'Y';
        tempHTML += strY;
        tempHTML += '" id="';
        tempHTML += strY;

        tempHTML += '" value="';
        tempHTML += String(latitude);
        tempHTML += '"></div></div>';
        document.getElementById("moreInput").innerHTML += tempHTML;
    }
    function removeLocation()
    {
        locations.length -- ;
        document.getElementById("moreInput").innerHTML = "";
        for(var i=0;i< locations.length;i++)
        {
            coverOldInput(i,locations[i]['longitude'],locations[i]['latitude']);
        }
        drawLine(null);
    }
    function textChanged()
    {
        var len = locations.length;
        locations = [];
        for(var i = 0;i<len ; i++)
        {
            var num = i;
            var strNum = num < 10?'0'+String(num+1):String(num+1);
            strX = 'location';
            strX += strNum;
            strX += 'X';
            strY = 'location';
            strY += strNum;
            strY += 'Y';
            locations.push({longitude:document.getElementById(strX).value,
                latitude:document.getElementById(strY).value});
        }
    }
</script>
<script type="text/javascript"> 
    var locations = [];
    var rightClicked = false;
    
    function addInput(longitude,latitude)
    {
        
        coverOldInput(locations.length,longitude,latitude);
        locations.push({longitude:longitude,
            latitude:latitude});
    }
    // 百度地图API功能 
    var map = new BMap.Map("allmap");             
    
    var point = new BMap.Point(120.386383,30.319781); 
    map.centerAndZoom(point, 15); 
    map.setDefaultCursor("crosshair");
    //单击获取点击的经纬度 
    map.addEventListener("click",function(e){ 

        var jing_du_value = e.point.lng ; 

        var wei_du_value =  e.point.lat; 

        addInput(jing_du_value,wei_du_value);

        
        

    }); 
	map.enableScrollWheelZoom(true); 
	var label=null; 
    function showInfo(e){
        map.removeOverlay(label);
        var opts = {
            position : e.point,    // 指定文本标注所在的地理位置
            offset   : new BMap.Size(30, -30)    //设置文本偏移量
        }
        label = new BMap.Label(e.point.lng + " , " + e.point.lat, opts);  // 创建文本标注对象
        label.setStyle({
            color : "red",
            fontSize : "12px",
            height : "20px",
            lineHeight : "20px",
            fontFamily:"微软雅黑"
        });
        drawLine(e.point);
        map.addOverlay(label); 
        
    }
    map.addEventListener("mousemove", showInfo);
    map.addEventListener("rightclick", rightClick);
    function rightClick()
    {
        if(rightClicked == true) rightClicked = false;
        else rightClicked = true;
        drawLine(null);
    }
    var curve = null;
    function drawLine(cursor)
    {
        
        var points = [];
        for(var i = 0 ;i<locations.length;i++)
        {
            points.push(new BMap.Point(locations[i]['longitude'],locations[i]['latitude']));
        }
        if(cursor != null && rightClicked == false)
        {
            points.push(new BMap.Point(cursor.lng,cursor.lat));
        }
        points.push(new BMap.Point(locations[0]['longitude'],locations[0]['latitude']));
        map.removeOverlay(curve);
        curve = new BMap.Polyline(points, {strokeColor:"red", strokeWeight:4, strokeOpacity:0.7}); //创建弧线对象
        map.addOverlay(curve); //添加到地图中
    }

   
</script> 
</html>
	