<div class="navbar" id="navbar">
	
    <div class="times" data-role="times"></div>
    <div class="config"><a href="config" class="navbar"><span class="bootFont"></span> 设置</a></div>

	<div class="customer">当前游客总数：<div id="customerSum" class="customerSum">0</div> 人</div>
</div>