@font-face {
	font-family: bootStrapFont;
	src: url('fonts/glyphicons-halflings-regular.ttf'),
	 url('fonts/glyphicons-halflings-regular.eot'); /* IE9+ */
}


@-ms-viewport{width:device-width}
body.config {
  
	font:  Verdana, 'Microsoft YaHei',sans-serif;
	margin: 0px auto 0px auto;

	text-align: center;

}

div#div1 {
position: fixed;
top: 0;
left: 0;
bottom: 0;
right: 0;
z-index: -1;
}    

span.bootFont{
	font-family:bootStrapFont;
}

a.navbar{
	color:#aeaeae;
	text-decoration:none;
	}

a.navbar:hover
{
	color:white;
}


div.navbar{
	position: fixed;
	font-size:20px;
	min-width: 900px;
	background-color: #222;

	width: 100%;
	height: 50px;
	top: 0px;
	left: 0px;
	min-width: 1000px;
	Z-index:5;
	top: 0px;
	left: 0px;
	
}

div.navbarAlert{
	position: fixed;
	font-size:20px;
	min-width: 900px;
	background-color: red;
	
	width: 100%;
	height: 50px;
	top: 0px;
	left: 0px;
	min-width: 1000px;
	Z-index:5;
	top: 0px;
	left: 0px;
	
}

div.times
{
	margin-top: 10px;
	margin-left: 50px;
	float: left;
}

div.config{
	margin-top: 13px;
	margin-right: 50px;
	float: right;
	color:white;
}

div.customer{
	margin-top: 10px;
	margin-left: 10%;
	float: left;
	color: white;
}

.customerSum{
	
	display: inline-block;
	
}
div.formTitle{
	  font-size: 28px;
  margin-bottom: 20px;
  font-weight: bolder;
  background-color: rgba(245, 245, 245, 0.51);
  color: rgba(31, 80, 95, 0.87);
}
div.fence{
	/*height: 500px;*/
	display: inline-block;
	display: inline-block;
  margin-top: 20px;
  padding-top: 20px;
  border-top: rgb(229, 229, 229) solid 1px;
}
div.formAera{
	
	/*margin: 0px auto 0px auto;*/
	width: 450px;
	float: left;

	display: inline-block;
}

div.configRight{
	width: 650px;
  /* float: right; */
  display: inline-block;
  margin-left: 5px;
  padding-left: 10px;
  border-left: rgb(229, 229, 229) solid 1px;
	
}
div.inputBlock{
	  margin-bottom: 10px;
  font-family: fantasy;
  font-size: 18px;
  background-color: rgba(245, 245, 245, 0.5);
}
div.lable{
	display: inline-block;
	font-size: 18px;
}

div.inputX{
	display: inline-block;
}
div.inputY{
	display: inline-block;
	margin-left: 30px;
}

input.location{
	
	  border-top: none;
  border-left: none;
  border-right: none;
  /* border-bottom: solid; */
  width: 150px;
  text-align: center;
  font-size: 16px;
  font-family: Verdana, 'Microsoft YaHei',sans-serif;
  background-color: rgba(181, 171, 156, 0.28);
  border-radius: 8px;
}

input.submit{
	
	font-size: 20px;
  font-family: Verdana, 'Microsoft YaHei',sans-serif;
  width: 100px;
  height: 30px;
  border-radius: 5px;
  background-color:rgba(245, 245, 245, 0.51);
  border: none;
  color: rgba(31, 80, 95, 0.87);
    margin-left: 133px;
}

input.submit:hover{
	
	font-size: 20px;
  font-family: Verdana, 'Microsoft YaHei',sans-serif;
  width: 100px;
  height: 30px;
  border-radius: 5px;
  background-color: rgba(81, 6, 4,0.4);
  border: none;
  color:whitesmoke ;
}

div.remove{
	margin-top: 20px;
	  margin-left: 315px;
	
}

div.remove:hover{
	cursor: pointer;
	color:rgb(81, 6, 4);
}
div.submit{
	
	margin: 30px auto auto 160px;

}

div.myhead{
	font-size: 65px;
  height: 50px;
  /* width: 500px; */
  margin-top: 28px;
  /* margin-right: 125px; */
  text-shadow: rgb(90, 89, 111) 5px 3px 10px;
  /* float: left; */
  font-family: fantasy;
  color: rgba(111, 82, 28, 0.8);
  margin-bottom: 10px;
}


.menu{
    width:1105px;
    margin:auto;
    text-align:center;
    background:url(../images/menu_bg1.png) repeat-x left top;
    height:44px;
    line-height:44px;
 	  margin-top: 60px;
  margin-bottom: 10px;}


.menu_top {height: 44px;
    background-color: rgba(245, 245, 245, 0.51);}
.menu_top li { float:left; padding:0px 3px 0px 3px; position:relative; }
.menu_top li a { display:inline-block; padding:0px 0px 0px 13px; }
.menu_top li a b { height:44px;
	 line-height:44px;
	 display:inline-block; 
	 padding:0px 13px 0px 0px; 
	 font-weight:normal; 
	 color:rgba(108, 85, 45, 0.87); 
	 font-weight:bold;
	 font-size:16px; }

.menu_top li a:hover, .menu_top li.press a {
 
    text-decoration:none;
    background-color: rgba(181, 171, 156, 0.38);
    border-radius: 5px;
}


UL {
	TEXT-TRANSFORM: capitalize; LIST-STYLE-TYPE: none
}
LI {
	TEXT-TRANSFORM: capitalize; LIST-STYLE-TYPE: none}


div#container{
     width: 1000px;
  /* margin: -445px auto; */
  font-size: 9px;
  margin-top: 73px;
  margin-bottom: 5px;
}


/*neeeeoooon*/
.p1{
  font-size: 30px;
  /* float: right; */
  width: 1349px;
  margin-top: 20px;t;
}

a{
    text-decoration:none;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s;
   }


p:nth-child(1) a{
    color:rgba(111, 82, 28, 0.8);
    font-family:Verdana, 'Microsoft YaHei',sans-serif;
}
p:nth-child(1) a:hover{
	text-decoration: none;
    -webkit-animation: neon1 0.5s ease-in-out infinite alternate;
    -moz-animation: neon1 0.5s ease-in-out infinite alternate;
    animation: neon1 0.5s ease-in-out infinite alternate;
}



/*glow for webkit*/
@-webkit-keyframes neon1 {
    from {
        text-shadow: 0 0 10px #fff,
        0 0 20px  #fff,
        0 0 30px  #fff,
        0 0 40px  #BD9E61,
        0 0 70px  #BD9E61,
        0 0 80px  #BD9E61,
        0 0 100px #BD9E61,
        0 0 150px #BD9E61;
    }
    to {
        text-shadow: 0 0 5px #fff,
        0 0 10px #fff,
        0 0 15px #fff,
        0 0 20px #BD9E61,
        0 0 35px #BD9E61,
        0 0 40px #BD9E61,
        0 0 50px #BD9E61,
        0 0 75px #BD9E61;
    }
}


/*glow for mozilla*/
@-moz-keyframes neon1 {
    from {
        text-shadow: 0 0 10px #fff,
        0 0 20px  #fff,
        0 0 30px  #fff,
        0 0 40px  #BD9E61,
        0 0 70px #BD9E61 ,
        0 0 80px  #BD9E61,
        0 0 100px #BD9E61,
        0 0 150px #BD9E61;
    }
    to {
        text-shadow: 0 0 5px #fff,
        0 0 10px #fff,
        0 0 15px #fff,
        0 0 20px #BD9E61,
        0 0 35px #BD9E61,
        0 0 40px #BD9E61,
        0 0 50px #BD9E61,
        0 0 75px #BD9E61;
    }
}



/*glow*/
@keyframes neon1 {
    from {
        text-shadow: 0 0 10px #fff,
        0 0 20px  #fff,
        0 0 30px  #fff,
        0 0 40px  #BD9E61,
        0 0 70px  #BD9E61,
        0 0 80px  #BD9E61,
        0 0 100px #BD9E61,
        0 0 150px #BD9E61;
    }
    to {
        text-shadow: 0 0 5px #fff,
        0 0 10px #fff,
        0 0 15px #fff,
        0 0 20px #BD9E61,
        0 0 35px #BD9E61,
        0 0 40px #BD9E61,
        0 0 50px #BD9E61,
        0 0 75px #BD9E61;
    }
}







       