@font-face {
	font-family: bootStrapFont;
	src: url('fonts/glyphicons-halflings-regular.ttf'),
	 url('fonts/glyphicons-halflings-regular.eot'); /* IE9+ */
}



body.config {
  
	font:  Verdana, 'Microsoft YaHei',sans-serif;
	margin: 0px auto 0px auto;

	text-align: center;

}

span.bootFont{
	font-family:bootStrapFont;
}

a.navbar{
	color:#aeaeae;
	text-decoration:none;
	}

a.navbar:hover
{
	color:white;
}


div.navbar{
	position: fixed;
	font-size:20px;
	min-width: 900px;
	background-color: #222;

	width: 100%;
	height: 50px;
	top: 0px;
	left: 0px;
	min-width: 1000px;
	Z-index:5;
	top: 0px;
	left: 0px;
	
}

div.navbarAlert{
	position: fixed;
	font-size:20px;
	min-width: 900px;
	background-color: red;
	
	width: 100%;
	height: 50px;
	top: 0px;
	left: 0px;
	min-width: 1000px;
	Z-index:5;
	top: 0px;
	left: 0px;
	
}

div.times
{
	margin-top: 10px;
	margin-left: 50px;
	float: left;
}

div.config{
	margin-top: 13px;
	margin-right: 50px;
	float: right;
	color:white;
}

div.customer{
	margin-top: 10px;
	margin-left: 500px;
	float: left;
	color:white;
}


.download{
			
			position: fixed;
			left: 35%;
			top: 60px;
			font-size: 20px;
		}

.customerSum{
	
	display: inline-block;
	
}
div.formTitle{
	  font-size: 28px;
  margin-bottom: 20px;
  font-weight: bolder;
  background-color: rgba(245, 245, 245, 0.89);
  color: rgb(81, 6, 4);
}
div.fence{
	/*height: 500px;*/
	display: inline-block;
	display: inline-block;
  margin-top: 20px;
  padding-top: 20px;
  border-top: rgb(229, 229, 229) solid 1px;
}
div.formAera{
	
	/*margin: 0px auto 0px auto;*/
	width: 450px;
	float: left;

	display: inline-block;
}

div.configRight{
	width: 650px;
  /* float: right; */
  display: inline-block;
  margin-left: 5px;
  padding-left: 10px;
  border-left: rgb(229, 229, 229) solid 1px;
	
}
div.inputBlock{
	  margin-bottom: 10px;
  font-family: fantasy;
  font-size: 18px;
  background-color: whitesmoke;
}
div.lable{
	display: inline-block;
	font-size: 18px;
}

div.inputX{
	display: inline-block;
}
div.inputY{
	display: inline-block;
	margin-left: 30px;
}

input.location{
	
	  border-top: none;
  border-left: none;
  border-right: none;
  /* border-bottom: solid; */
  width: 150px;
  text-align: center;
  font-size: 16px;
  font-family: Verdana, 'Microsoft YaHei',sans-serif;
  background-color: rgba(100, 128, 120, 0.43);
  border-radius: 8px;
}

input.submit{
	
	font-size: 20px;
  font-family: Verdana, 'Microsoft YaHei',sans-serif;
  width: 100px;
  height: 30px;
  border-radius: 5px;
  background-color: whitesmoke;
  border: none;
  color: rgb(81, 6, 4);
    margin-left: 133px;
}

input.submit:hover{
	
	font-size: 20px;
  font-family: Verdana, 'Microsoft YaHei',sans-serif;
  width: 100px;
  height: 30px;
  border-radius: 5px;
  background-color: rgba(81, 6, 4,0.4);
  border: none;
  color:whitesmoke ;
}

div.remove{
	margin-top: 20px;
	  margin-left: 315px;
	
}

div.remove:hover{
	cursor: pointer;
	color:rgb(81, 6, 4);
}
div.submit{
	
	margin: 30px auto auto 160px;

}

div.myhead{
	font-size: 40px;
  height: 50px;
  width: 500px;
  margin-left: 125px;
  margin-right: 125px;
  text-shadow: rgb(119, 136, 131) 4px 0px 7px;
  float: left;
  font-family: microsoft yahei;
  color: rgb(100, 128, 120);
  margin-bottom: 10px;
}

